@font-face {
  font-family: "MountainsofChristmas";
  src: url('./fonts/MountainsofChristmas-Bold.ttf'),
    url('./fonts/MountainsofChristmas-Regular.ttf')
}

@font-face {
  font-family: "FrederickatheGreat";
  src: url('./fonts/FrederickatheGreat.ttf')
}

@font-face {
  font-family: "Modesty";
  src: url('./fonts/Modesty.ttf')
}

// @font-face {
//   font-family: "Seto";
//   src: url('./fonts/Seto.ttf')
// }