@import "./font-face.scss";
@import "./markdown.scss";

body {
  font-family: var(--hy-font-family-seto);
  @apply transition-colors duration-200;
}

#app {
  @apply transition-none;
}

a {
  color: var(--hy-c-primary)
}

html,
body {
  scroll-behavior: smooth;
}